<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-Black.ttf</string>
		<string>AppleSDGothicNeoM00.ttf</string>
		<string>NotoSansKR-Bold.ttf</string>
		<string>AppleSDGothicNeoEB00.ttf</string>
		<string>AppleSDGothicNeoB00.ttf</string>
		<string>AppleSDGothicNeoSB00.ttf</string>
	</array>
</dict>
</plist>
